.mainContainer {
  display: flex;
  border-bottom: 0.5px solid #c6c9cb;
  padding-top: 50px;
  padding-bottom: 20px;
  padding-left: 60px;
  padding-right: 59px;
  justify-content: space-between;
  align-items: center;
}

.rightNav {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.userProfile {
  margin-left: 20px;
  background-color: #380835;
  border-radius: 10px;
  display: flex;
  color: white;
  align-items: center;
  padding: 9px 12px;
  cursor: pointer;
}

.username {
  margin-right: 14px;
  font-size: 14px;
  font-weight: 700;
}

.popup {
  width: 160px;
  position: absolute;
  right: 0;
  top: 50px;
  padding: 20px;
  /* background-color: rgba(255, 255, 255, 0.8); */
  backdrop-filter: blur(6px) drop-shadow(4px 4px 10px rgba(0, 0, 0, 0.25));
  border-radius: 6px;
  background-image: linear-gradient(
    to bottom,
    rgba(245, 245, 245, 0.6),
    rgba(245, 245, 245, 0.1)
  );
  border: 0.3px solid rgba(184, 188, 190, 1);
  display: flex;
  justify-content: center;
}

.popup > div > div > p {
  color: rgba(30, 30, 30, 1);
  font-size: 12px;
}

.flexItems {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.flexItems:not(:last-child) {
  margin-bottom: 20px;
}
